
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="side-contact sidebar-brand">
        CONTACRTZ<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </li>
      <li>
        <address ng-repeat="contact in contacts">
          <strong><a href="#/contacts/view/{{contact.id}}">{{contact.name}}</a></strong>
          <span>{{contact.phone}}</span>
          <span><button class="btn btn-danger fa fa-trash-o" ng-click="deleteContact(contact.id)"></button></span>
        </address>
      </li>
    </ul>
  </div>
</div>